<h1>Public::Homes#about</h1>
<p>Find me in app/views/public/homes/about.html.erb</p>

<% if user_signed_in? %>
  <%= link_to "ログアウト", "/users/sign_out", method: :delete, class: "btn btn-danger" %></br>
<% end %>

<%= link_to "マイページ", my_page_path, class: "btn btn-primary mt-4" %>

