<div class="container">
  <div class="row">
    <div class="col-10 mb-2">
      <span class="h4">マップ</span><span>（ピンの位置が当店の場所となります）</span>
    </div>
  </div>
</div>

<div id='map'></div>

<style>
#map{
  height: 600px;
}
</style>

<script>
function initMap(){
  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 36.097, lng: 140.111},
  zoom: 13
  });
  marker = new google.maps.Marker({
    position: {lat: 36.097, lng: 140.111},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMgo7xpq7zyJuEaCtgI989rMHLDu7J4eA&callback=initMap" async defer></script>